/*.right {
  float: right;
  margin-right: 10px;
}*/

#block_container
{
    text-align:center;
}
#bloc1, #bloc2
{
    display:inline;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
