
<h1 [style] = "{'text-align': 'center'}" mat-dialog-title><strong>Commande enregistrée avec succès</strong></h1>

<mat-dialog-content>
  <div>
    <div [style] = "{'text-align': 'center'}">Tu peux suivre ta commande <strong style="font-size: 30px;">{{command}}</strong> sur le dashboard</div>
      <br>
      <div [style] = "{'text-align': 'center'}">Ta facture est en train d'être imprimée.</div>
      <div [style] = "{'text-align': 'center'}">Elle sera disponible dans quelques secondes.</div>
      <br>
      <div [style] = "{'text-align': 'center', 'font-size':'30px'}">Bon appétit et merci d'avoir choisi Poly Restaurant ! </div>
  </div>
</mat-dialog-content>
