<div class="tab">

    <h1 class="orders">
        Orders status</h1>
    <div class="content">
        <div fxLayout="row wrap">
            <div fxFlex="20%" *ngFor="let order of orders" class="example-button-row">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>No.Order :
                            <strong>{{order.id.substring(0, 4)}}</strong> </mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            Table {{order.tableNumber}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions class="example-button">
                        <div *ngIf="order.ready == false">
                            <button mat-fab color="accent">In Progress</button>
                        </div>
                        <div *ngIf="order.ready == true">
                            <button mat-fab [style.background-color]="'green'">Ready</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</div>