<h2 mat-dialog-title>Tables</h2>

<mat-dialog-content class="mat-typography">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let table of tables">
            <app-show-table [table]="table" (click)="selectedElement(table)" id="table">
            </app-show-table>
        </div>
    </div>
    <div>
        <h3 mat-dialog-title> Enter the number of person</h3>
        <input type="number" min="1" id="nbPers">
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onButtonClick()">choose</button>
</mat-dialog-actions>